@model AtlasMed_GS.Models.Paciente

@{
    ViewData["Title"] = "Cadastrar Paciente";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AtlasMed - Sua plataforma de gerenciamento de registros médicos</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #3498db;
            color: #333;
        }

        header {
            color: #fff;
            text-align: center;
        }

        section {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
        }

        h2 {
            color: #fff;
        }

        label {
            color: #fff;
        }

    </style>
</head>
<body>

    <h2>Cadastrar Paciente</h2>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Nome" class="control-label">Nome:</label>
                    <input asp-for="Nome" class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cpf" class="control-label">CPF:</label>
                    <input asp-for="Cpf" class="form-control" />
                    <span asp-validation-for="Cpf" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DataNascimento" class="control-label">Data de Nascimento:</label>
                    <input asp-for="DataNascimento" class="form-control" />
                    <span asp-validation-for="DataNascimento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label">Email:</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Telefone" class="control-label">Telefone:</label>
                    <input asp-for="Telefone" class="form-control" />
                    <span asp-validation-for="Telefone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Rua" class="control-label">Rua:</label>
                    <input asp-for="Rua" class="form-control" />
                    <span asp-validation-for="Rua" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Numero" class="control-label">Número:</label>
                    <input asp-for="Numero" class="form-control" />
                    <span asp-validation-for="Numero" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Bairro" class="control-label">Bairro:</label>
                    <input asp-for="Bairro" class="form-control" />
                    <span asp-validation-for="Bairro" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cidade" class="control-label">Cidade:</label>
                    <input asp-for="Cidade" class="form-control" />
                    <span asp-validation-for="Cidade" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Estado" class="control-label">Estado:</label>
                    <input asp-for="Estado" class="form-control" />
                    <span asp-validation-for="Estado" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cep" class="control-label">CEP:</label>
                    <input asp-for="Cep" class="form-control" />
                    <span asp-validation-for="Cep" class="text-danger"></span>
                </div>
                <div class="form-button">
                    <input type="submit" value="Cadastrar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a style="color: #fff;" asp-action="Index">Voltar</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

</body>
</html>
