@{
    ViewData["Title"] = "Início";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AtlasMed - Sua plataforma de gerenciamento de registros médicos</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #3498db;
            color: #333;
        }

        header {
            color: #fff;
            text-align: center;
        }

        section {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
        }

        h1 {
            color: #fff;
        }

        img {
            max-width: 100%;
            height: auto;
            margin-bottom: 20px;
            margin-left: 75px;
        }
    </style>
</head>
<body>

    <header>
        <h1>AtlasMed - Sua plataforma de gerenciamento de registros médicos</h1>
    </header>

    <section>
        <p>AtlasMed é uma plataforma simples e intuitiva de gerenciamento de registros médicos, onde é possível visualizar e organizar 
            pacientes, médicos, hospitais e muito mais. Nossa proposta com esta plataforma é incrementar o relacionamento entre o médico 
            e paciente, contribuindo com a melhora da qualidade de vida dos pacientes e facilitando as tarefas daqueles que trabalham nas 
            áreas médicas, permitindo focar em áreas mais críticas.</p>

        <p>Nossa aplicação conta com funções de cadastro, edição, visualização e exclusão completa para todos os dados (CRUDs), 
            pesquisa por nome de pacientes, médicos, medicamentos e hospitais e mensagens de alerta intuitivas para os usuários.
        </p>

        <img src="https://st.depositphotos.com/1518767/2411/i/450/depositphotos_24115921-stock-photo-happy-family-lying-on-a.jpg" alt="Família feliz" />
    </section>



</body>
</html>
